<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>My App</title>

  <link rel="stylesheet" href="/styles.css">
</head>
<body>

  <header>
    <h1>My App</h1>
    <nav>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/realtimeproducts">Productos en tiempo real</a></li>
      </ul>
    </nav>
  </header>

  <main>
    {{{body}}} 

  <footer>
    &copy; 2023 My App
  </footer>
  
  <script src="/socket.io/socket.io.js"></script>
  <script src="/main.js"></script>
</body>
</html>


